<div class="steps-container">
  <div class="steps-wrapper">
    <div class="step" id="login-icon">
      <h2>
        <span class="fa fa-user bola"></span>
      </h2>
      <h3>
        Login
      </h3>
    </div>

    <div class="step" id="course-icon" >
      <h2>
        <span class="fa fa-graduation-cap bola"></span>
      </h2>
      <h3>
        Curso
      </h3>
    </div>

    <div class="step" id="upload-icon" >
      <h2>
        <span class="fa fa-upload bola"></span>
      </h2>
      <h3>
        Enviar TCC
      </h3>
    </div>
  </div>
</div>


<div class="tcc-container" id="tcc-container">
  <% if logged_in? %>
    <%= render partial: 'partials/course_choice'%>
  <% else %>
    <%= render partial: 'partials/login'%>
  <% end %>
</div>
