ol {

  &.progress-track {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 2em 0em;
    table-layout: fixed;
    width: 100%;

    li {
      display: table-cell;
      line-height: 3em;
      position: relative;
      text-align: center;

      .icon-wrap {
        border-radius: 50%;
        top: -2em;

        color: #fff;
        display: block;
        height: 2.5em;
        margin: 0 auto -2em;
        left: 0;
        right: 0;
        position: absolute;
        width: 2.5em;
      }

      .icon-check-mark, .icon-down-arrow {
        height: 25px;
        width: 15px;
        display: inline-block;
        fill: currentColor;
      }

      .progress-text {
         position: relative;
         top: 1px;
      }

      &.progress-done {
        border-top: 7px solid #009b37;
        transition: border-color 1s ease-in-out;
        -webkit-transition: border-color 1s ease-in-out;
        -moz-transition: border-color 1s ease-in-out;

        .icon-down-arrow {
          display: none;
        }

          &.progress-current {

            .icon-wrap {
              background-color: #005263;

              .icon-check-mark {
               display: none;
              }

              .icon-down-arrow {
                display: block;
              }
            }
          }

        .icon-wrap {
          background-color: #006303;
          border: 5px solid #009b37;
        }
      }

      &.progress-todo {
          border-top: 7px solid #DDD;
          color: black;

        .icon-wrap {
          background-color: #FFF;
          border: 5px solid #DDD;
          border-radius: 50%;
          bottom: 1.5em;
          color: #fff;
          display: block;
          height: 2.5em;
          margin: 0 auto -2em;
          position: relative;
          width: 2.5em;

          .icon-check-mark, .icon-down-arrow {
              display: none;
          }
        }
      }
    }
  }
}

#box-container {
  width:400px;
  border:1px solid #000;
}

.tcc-container {
  padding: 2em 0;
  height: auto;
}

.courses-wrapper button {
  padding: 0;
  border: none;
  width:19.55555%;
  overflow: hidden;
}

.courses-wrapper button h2 {
  transition: transform 0.5s ease;

}

.courses-wrapper button:hover h2{
  transform: scale(1.23);
}

.btn-courses {
  color: white;
  display: inline-block;
}

.btn-courses h2 {
  padding: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  margin: 0 !important;
  width: auto;
}

.btn-courses span{
  font-size: 3em;
  background-color: #009551;
  margin: 0;
  padding: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

}

button {
  cursor: pointer;
}

#software div span {
}

#aeroespacial div span {
 background-color: #005e73;
}

#automotiva div span {
 background-color: #005e5e;
 padding-left: 1.8em;
}

#energia div span {
  background-color: #007848;
}

#eletronica div span {
  background-color: #00694e;
}

#software div h2 {
  background-color: #00a65a;
}

#aeroespacial div h2 {
  background-color: #00738C;
}

#automotiva div h2 {
  background-color: #006e6e;
}

#energia div h2 {
  background-color: #008c54;
}

#eletronica div h2 {
  background-color: #007d5f;
  width: 100%;
}

#eletronica {
  width: 20%;
  overflow: hidden;
}

.steps-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.steps-wrapper {
  padding-left: 2.887em;
}

.step {
  margin: 40px 20px;
  padding-top: 1.5em;
  padding-bottom: 2em;
  color: #999;
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  position: relative;
  z-index: 0;
}

.step:last-child:after {
  content: none;
}

.step-passed:after {
  content: '';
  width: 80%;
  height: 2px;
  background-color: #4e7e52;
  position: absolute;
  right: -50%;
  top: 50px;
  z-index: 0;
}

.bola {
  padding: .5em;
  width: 20px;
  height: 19px;
  border-radius: 50%;
  border: 2px #999 solid;
}

.step-active {
  color: green;
}

.step-active .bola {
  border-color: green;
}

.step-passed {
  // hippie green
  color: #4E7E52;
}

.step-passed .bola {
  background-color: #4E7E52;
  color: white;
  border-color: white;
  // hippie-green
}

.tcc-button {
  .fa-paperclip:before {
    content: "\f0c6";
    color: #21BA57;
    font: normal normal normal 17px FontAwesome;
    margin-right: 10px;
    margin-left: 10px;
  }
  background: #005263;
  padding: 15px;
  padding-right: 31px;
  transition: opacity 0.2s ease 0s;
  opacity: 1.0;
  &:hover {
    opacity: 0.5;
  }
  color: white;
  border: none;
  font-family: "Aller";
  font-weight: 900;
  font-size: 17px;
  text-decoration: none;
  display: block;
  text-align: center;
}
